/* Custom CSS */

.ititle {
  font-size: 14px !important;
  font-weight: 600;
  /* top: 7px; */
}

.ddown {
  height: 38px;
}

.s-modal {
  overflow-y: auto;
  overflow-y: scroll;
}

.th {
  margin-left: 50px;
}

input[type=radio] {
  border: 0px;
  width: 100%;
  margin-top: 7px;
  height: 1em;
}

.input-no-border {
  border: 0px;
}

.info-main-title {
  font-size: 18px;
  color: #ac216c;
}

.justify-both-side {
  text-align: justify;
  text-justify: inter-word;
}